name: Sync to Aliyun OSS

on:
  push:
    branches:
      - main  # 仅在推送到 main 分支时触发

jobs:
  sync-to-oss:
    runs-on: ubuntu-latest
    steps:
      # 步骤1: 检出您的仓库代码
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Cache ossutil snapshot
        uses: actions/cache@v3
        with:
          # 需要缓存的文件夹路径
          path: .snapshot 
          key: ${{ runner.os }}-ossutil-snapshot-main

      - name: Restore file mtime from git
        uses: chetan/git-restore-mtime-action@v2

      # 步骤2: 下载、解压并安装指定版本的 ossutil
      - name: Install specific ossutil version
        uses: fangbinwei/aliyun-oss-website-action@v1
        with:
            accessKeyId: ${{ secrets.ACCESS_KEY_ID }}
            accessKeySecret: ${{ secrets.ACCESS_KEY_SECRET }}
            bucket: img535a
            # use your own endpoint
            endpoint: oss-cn-wuhan-lr.aliyuncs.com/2233-test
            folder: .