name: Sync to S3 via rclone (Checksum)

on:
  push:
    branches:
      - main # 仅在 main 分支有推送时触发

jobs:
  rclone-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: rclone sync to S3
        uses: rclone/rclone-action@v1.4.0
        with:
          rclone_config: |
            [s3]
            type = s3
            provider = Alibaba
            env_auth = true
            access_key_id = ${{ secrets.ACCESS_KEY_ID }}
            secret_access_key = ${{ secrets.ACCESS_KEY_SECRET }}
            region = ${{ secrets.REGION }}
            endpoint = ${{ secrets.ENDPOINT }}
          args: |
            sync . s3:${{ secrets.BUCKET_NAME }}/2233-test/ \
            --checksum \
            --fast-list \
            --progress